<div class="tab-pane fade show active" id="course-pills-tabs-1" role="tabpanel" aria-labelledby="course-pills-tab-1">
    <div class="row g-4">
        <% animes.each do |anime| %>
            <!-- Card item START -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="card shadow h-100">
                    <%= link_to(show_from_json_animes_path(anime: anime.to_json), class: "show-anime-link") do %>
                        <!-- Image -->
                        <img src="<%=anime["images"]["jpg"]["image_url"]%>" class="card-img-top" alt="course image">
                        <!-- Card body -->
                        <div class="card-body pb-0">
                            <!-- Title -->
                            <h5 class="card-title fw-normal"><a href="#"><%= anime["title"]%></a></h5>
                        </div>
                    <%end %>
                </div>
            </div>
        <% end %>
    </div>
</div>