<section class="position-relative overflow-hidden pt-5 pt-lg-3">
	<!-- Content START -->
	<div class="container background">
		<!-- Title -->
		<div class="row align-items-center g-5">
			<div class="col-lg-5 col-xl-6 position-relative z-index-1 text-center text-lg-start mb-5 mb-sm-0">
				<h1 class="mb-0 display-6">MyAnimes. Crie sua lista de animes favoritos!</h1>
			</div>
		</div>
	</div>
</section>
<!-- Content END -->

<section>
	<div class="container">
		<div class="row mb-4 title">
			<div class="col-lg-8 mx-auto text-center"><h2 class="fs-1 title">Animes Cadastrados</h2></div>
			<div class="ms-auto p-2 bd-highlight">
				<%= link_to(new_anime_path,class: "title-style") do %>
					<button type="button" class="btn btn-success button-anime">Cadastrar Anime</button>
				<% end %>
			</div>
		</div>

		<!-- Cards content START -->
		<div class="tab-content" id="course-pills-tabContent">
			<%= render 'card', animes: @animes %>
		</div>
	</div>
</section>