<!-- app/views/animes/busca.html.erb -->
<h1>Resultados da Busca</h1>

<% if @resultados.present? %>
  <% @resultados.each do |anime| %>
    <div class="anime-result">
      <h2><%= anime["title"] %></h2>
      <p><strong>Descrição:</strong> <%= anime["synopsis"] %></p>
      <% if anime["images"] && anime["images"]["jpg"] && anime["images"]["jpg"]["image_url"].present? %>
        <%= image_tag anime["images"]["jpg"]["image_url"], alt: "Imagem do Anime", size: "100x100" %>
        <% anime[:mal_id] %>
        <%= link_to "Ver Detalhes", show_from_json_animes_path(anime: anime.to_json), class: "show-anime-link" %>
      <% else %>
        <p><em>Nenhuma imagem disponível</em></p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>Nenhum resultado encontrado.</p>
<% end %>
