

<% @animes.each do |anime| %>
$(".search-box").append('<div class="search-image"><img class="image img-fluid" src="<%= anime.image_url%>" style="height: 79px;"><%= anime.name %></div>');
console.log('<%= anime.name %>');
<% end %>