<div class="container style-list">
    <div class="header-container">
       <% if @anime_data.present? %>
        <%= render 'anime', anime: @anime_data %>
      <% else %>
        <p>Nenhum anime encontrado.</p>
      <% end %>
    </div>
</div>

