
header {
    position: relative;
    z-index: 1020;
    background: #fff;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
}


@media (min-width: 1200px){
    .navbar-expand-xl .navbar-brand .navbar-brand-item {
        height: 36px;
        display: block;
        width: auto;
    }
}

img {
    max-width: 100%;
    height: auto;
}

img, svg {
    vertical-align: middle;
}

@media (min-width: 1200px){
    .navbar-expand-xl .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}
.collapse:not(.show) {
    display: none;
}
.w-100 {
    width: 100% !important;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* itens header buttons */
@media (min-width: 1200px){
    .navbar-expand-xl .navbar-nav-scroll {
        overflow: visible;
    }
}
@media (min-width: 1200px){
    .navbar-expand-xl .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
.me-auto {
    margin-right: auto !important;
}
.navbar-nav-scroll {
    max-height: var(--bs-scroll-height, 75vh);
    overflow-y: auto;
}
.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul {
    padding-left: 2rem;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.dropup, .dropend, .dropdown, .dropstart {
    position: relative;
}

@media (min-width: 1200px){
    .dropdown-fullwidth {
        position: static;
    }
}

/* barra de busca */
@media (min-width: 1200px){
    .my-xl-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}
.px-4 {
    padding-right: 1.6rem !important;
    padding-left: 1.6rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.position-relative {
    position: relative !important;
}

.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}

.pe-5 {
    padding-right: 3rem !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #404448;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dde0e3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.325rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
[type=search] {
    outline-offset: -2px;
    -webkit-appearance: textfield;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}

.btn {
    letter-spacing: 0.5px;
    position: relative;
    overflow: hidden;
    outline: 0;
    white-space: nowrap;
    margin-bottom: 6px;
}
.bg-transparent {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}
.translate-middle-y {
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}
.end-0 {
    right: 0 !important;
}
.top-50 {
    top: 50% !important;
}
.position-absolute {
    position: absolute !important;
}
.btn {
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: #747579!important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    border-radius: 0.325rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}

.fs-6 {
    font-size: 0.9375rem !important;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/* icon dropdown */
@media (min-width: 992px){
    .ms-lg-0 {
        margin-left: 0 !important;
    }
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.avatar-sm {
    height: 2.5rem;
    width: 2.5rem;
}

.avatar {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: inline-block !important;
}
.p-0 {
    padding: 0 !important;
}
[role=button] {
    cursor: pointer;
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.rounded-circle {
    border-radius: 50% !important;
}

/* iten icone */
.dropdown-menu-end {
    right: 0;
}

.dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1100;
    -webkit-box-shadow: 0px 0px 40px rgb(29 58 83 / 15%);
    box-shadow: 0px 0px 40px rgb(29 58 83 / 15%);
}
.pt-3 {
    padding-top: 1rem !important;
}
.shadow {
    -webkit-box-shadow: 0px 0px 40px rgb(29 58 83 / 15%) !important;
    box-shadow: 0px 0px 40px rgb(29 58 83 / 15%) !important;
}
.dropdown-menu-end {
    --bs-position: end;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 15rem;
    padding: 1rem 0.8rem;
    margin: 0;
    font-size: 0.9375rem;
    color: #747579;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-radius: 0.325rem;
}
px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.4rem 1rem;
    clear: both;
    font-weight: 500;
    color: #747579;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}




.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .fw-normal {
    font-weight: 500 !important;
}
.card-title {
    margin-bottom: 0.5rem;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

h5.card-title.fw-normal {
    text-align: center;
    /* margin: auto; */
    display: block;
    padding: auto;
}

h5.card-title.fw-normal a {
    color: #000;
    text-decoration: none;
}

h5.card-title.fw-normal {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container.background {
    background-image: url(https://images7.alphacoders.com/740/thumb-1920-740447.jpg);
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* width: 100%; */
    min-height: 300px;
}



h1.mb-0.display-6 {
    color: #fff;
    background-color: lightseagreen;
}


.detail {
    font-family: Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 768px){
    .detail--title {
        justify-content: start;
    }
}
.detail--title {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    .detail--main-content {
        flex-direction: row;
        align-items: normal;
        margin-top: 0;
    }
}

.detail--main-content {
    flex-direction: column;
    padding: 24px 16px;
}
.detail--main-content, .loading {
    display: flex;
    align-items: center;
}


.media-poster {
    width: 280px;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-user-drag: none;
}


.detail--main-content--synopsis {
    display: inline-block;
    max-width: 500px;
    margin-left: 16px;
}

.detail--main-content--synopsis--content {
    display: inline-block;
}


.detail--main-content--genres {
    margin-top: 4px;
}

.detail--secondary-content {
    padding: 0 16px;
    margin-top: 24px;
}


@media (min-width: 768px){
    .page-content {
        width: 70%;
    }
}
.page-content {
    padding: 26px 16px;
    margin: 0 auto;
}

.detail--main-content, .loading {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.icon-arrow {
    margin-left: -300px;
}
















